@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MDP.AspNetCore.Authentication.Line
@{

}
<!DOCTYPE html>
<html>
<head>

    <!--title-->
    <title>BiosWorkshop.CRM</title>

    <!--meta-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--style-->
    <style>
        body {
            margin: 0;
            font-size: 16px;
        }

        div {
            max-width: 100%;
            text-align: center;
        }

        .hidden {
            display: none;
        }

        .message h2 {
            color: red;
        }

        .loader div {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 120px;
            height: 120px;
            margin: -76px 0 0 -76px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>

</head>
<body style="background-color:#5078B4;">

    <!-- application -->
    <div class="application">
        <h1>BiosWorkshop.CRM</h1>
    </div>

    <!-- loader -->
    <div class="loader">
        <h2>系統登入中...</h2>
        <div></div>
    </div>

    <!--LoginByLine-->
    <form asp-action="Login" method="post" asp-route-externalScheme="@LineDefaults.AuthenticationScheme" asp-route-returnUrl="@Context.Request.Query[" ReturnUrl"]" style="display:none">
        <input type="submit" value="LoginByLine" /><br />
        <br />
    </form>

    <!--script-->
    <script>
        window.onload = function () {

            // Login
            document.querySelectorAll("input[type=submit]").forEach(input => {
                input.click();
            });

        };
    </script>
</body>
</html>