
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BiosWorkshop.CRM.WebPlatform.AccountController.RegisterResultModel
@{

}

<!DOCTYPE html>
<html>
<head>

    <!--title-->
    <title>MDP.AdminLTE</title>

    <!--meta-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--style-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/lib/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/lib/admin-lte/css/adminlte.css">
    <link rel="stylesheet" href="/mdp.adminlte.css">

</head>
<body style="background-color: #e2ebf5; ">
    <div class="container-fluid my-3" style="max-width: 640px;">

        <!-- RegisterForm -->
        <form id="register-form" asp-action="Register" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post">

            <!-- 注意事項 -->
            <div class="card card-primary card-outline mb-3">
                <div class="card-body">
                    <h2>Bios Workshop 會員註冊</h2>
                    <br />
                    注意事項123456
                </div>
            </div>

            <!-- 姓名 -->
            <div class="card">
                <div class="card-body">
                    <label for="actionModel.user.name" class="form-label">姓名</label>
                    <input id="actionModel.user.name" name="actionModel.user.name" type="text" class="form-control" placeholder="你的回答" value="@Model.User.Name" />
                </div>
            </div>

            <!-- 性別 -->
            <div class="card">
                <div class="card-body">
                    <label for="name" class="form-label">性別</label>
                    <input id="name" type="text" class="form-control" placeholder="你的回答">
                </div>
            </div>

            <!-- 連絡電話 -->
            <div class="card">
                <div class="card-body">
                    <label for="name" class="form-label">連絡電話</label>
                    <input id="name" type="text" class="form-control" placeholder="你的回答">
                </div>
            </div>

            <!-- 電子郵件 -->
            <div class="card">
                <div class="card-body">
                    <label for="name" class="form-label">電子郵件</label>
                    <input id="name" type="text" class="form-control" placeholder="你的回答">
                </div>
            </div>

            <!-- 住家區域 -->
            <div class="card">
                <div class="card-body">
                    <label for="name" class="form-label">住家區域</label>
                    <input id="name" type="text" class="form-control" placeholder="你的回答">
                </div>
            </div>

            <!-- 指令 -->
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-block btn-primary" onclick="document.getElementById('register-form').submit();"><i class="fas fa-check"></i>&nbsp;提交</a>
                </div>
            </div>
        </form>
    </div>

    <!--script-->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/admin-lte/js/adminlte.js"></script>
    <script src="/mdp.adminlte.js"></script>
    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })();
    </script>
</body>
</html>