@{
    Layout = "_layout";
}

<!-- content -->
<div class="container-fluid h-100 bg-red">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-auto p-0" style="width:100px;height:100px">
            <div class="container-fluid h-100 p-0 bg-gray">
                12456
            </div>
        </div>
    </div>
</div>