<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/MDP-Module01/Home/Index.css" rel="stylesheet" />
</head>
<body>

    <!--Title-->
    <h2>MDP-Module01/Home/Index</h2>
    <hr />

    <!--Message-->
    <h3>@ViewBag.Message</h3>

</body>
</html>