<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/MDP-Module02/Home/Index.css" rel="stylesheet" />
    <script>

    </script>
</head>
<body>

    <!--Title-->
    <h2>MDP-Module02/Home/Index</h2>
    <hr />

    <!--Message-->
    <h3>@ViewBag.Message</h3>

</body>
</html>