<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MDP.WebApp</title>
</head>
<body>

    <!--Title-->
    <h2>MDP.WebApp</h2>
    <hr />

    <!--Message-->
    <h3>@ViewBag.Message</h3>

</body>
</html>