@using MyLab.Module

@page "/InteropExample"
@code {

    // Fields
    [Inject]
    public WorkContext _workContext { get; set; }


    // Methods
    private object CreatePageData()
    {
        return new { a = "123", b = _workContext.GetValue() };
    }
}


<PageScript PageData="@this.CreatePageData()">
    <script>

        // blazorPageLoaded
        document.addEventListener("BlazorPageLoaded", function (event) {

            // variables
            const pageData = event.detail.pageData;

            // runScriptButton
            document.getElementById("runDotNetButton").addEventListener("click", function (event) {

                // invokeMethod
                mdp.blazor.interopManager.invokeMethodAsync(
                    pageData.b
                ).then(result => {
                    alert(result);
                }).catch(error => {
                    alert("Error calling .NET method: " + error);
                });
            });

            // message
            document.getElementById("message").innerHTML += "BlazorPageLoaded";
        }, { once: true });
    </script>
</PageScript>

<h3>InteropExample</h3>
<button class="btn btn-primary" id="runDotNetButton">Run .NET</button>
<br />
<br />
<br />
<p id="message"></p>