@using MyLab.Module

@page "/ScriptExample"
@code {

    // Fields
    [Inject]
    public WorkContext _workContext { get; set; }


    // Methods
    private object CreatePageData()
    {
        return new { a = "123", b = _workContext.GetValue() };
    }
}


<PageScript PageData="@this.CreatePageData()">
    <script>

        // blazorPageLoaded
        document.addEventListener("BlazorPageLoaded", function (event) {

            // variables
            const pageData = event.detail.pageData;

            // runScriptButton
            document.getElementById("runScriptButton").addEventListener("click", function (event) {

                // alert
                alert(pageData.b);
            });

            // message
            document.getElementById("message").innerHTML += "BlazorPageLoaded";
        }, { once: true });
    </script>
</PageScript>

<h3>ScriptExample</h3>
<button class="btn btn-primary" id="runScriptButton">Run Script</button>
<br />
<br />
<br />
<p id="message"></p>