@{
    Layout = "_layout";
}

<!-- layout 1-1 -->
<div>layout 1-1</div>
<div class="container-fluid vh-100 bg-red">
    <div class="row h-100">
        <div class="col-12 h-100 p-0">
            <div class="container-fluid h-100 p-0 bg-gray">
                12456
            </div>
        </div>
    </div>
</div>

<!-- layout 1-2 -->
<div>layout 1-2</div>
<div class="container-fluid vh-100 bg-red">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-auto p-0" style="width:100px;height:100px">
            <div class="container-fluid h-100 p-0 bg-gray">
                12456
            </div>
        </div>
    </div>
</div>

<!-- layout 2-1 -->
<div>layout 2-1</div>
<div class="container-fluid vh-100 bg-red">
    <div class="row h-100">
        <div class="col-auto p-0" style="width:100px;">
            <div class="container-fluid h-100 p-0 bg-gray">
                12456
            </div>
        </div>
        <div class="col p-0">
            <div class="container-fluid h-100 p-0 bg-blue">
                12456
            </div>
        </div>
    </div>
</div>

<!-- layout 2-2 -->
<div>layout 2-2</div>
<div class="container-fluid vh-100 d-flex flex-column bg-red">
    <div class="row" style="height:100px;">
        <div class="col p-0">
            <div class="container-fluid h-100 p-0 bg-gray">
                12456
            </div>
        </div>
    </div>
    <div class="row flex-fill">
        <div class="col p-0">
            <div class="container-fluid h-100 p-0 bg-blue">
                12456
            </div>
        </div>
    </div>
</div>

<!-- layout 3-1 -->
<div>layout 3-1</div>
<div class="container-fluid vh-100 bg-red">
    <div class="row h-100">
        <div class="col-auto p-0" style="width:100px;">
            <div class="container-fluid h-100 p-0 bg-gray">
                12456
            </div>
        </div>
        <div class="col p-0">
            <div class="container-fluid h-100 p-0 bg-blue">
                12456
            </div>
        </div>
        <div class="col-auto p-0" style="width:100px;">
            <div class="container-fluid h-100 p-0 bg-purple">
                12456
            </div>
        </div>
    </div>
</div>

<!-- layout 3-2 -->
<div>layout 3-2</div>
<div class="container-fluid vh-100 d-flex flex-column bg-red">
    <div class="row" style="height:100px;">
        <div class="col p-0">
            <div class="container-fluid h-100 p-0 bg-gray">
                12456
            </div>
        </div>
    </div>
    <div class="row flex-fill">
        <div class="col p-0">
            <div class="container-fluid h-100 p-0 bg-blue">
                12456
            </div>
        </div>
    </div>
    <div class="row" style="height:100px;">
        <div class="col p-0">
            <div class="container-fluid h-100 p-0 bg-purple">
                12456
            </div>
        </div>
    </div>
</div>

<!-- layout 3-3 -->
<div>layout 3-3</div>
<div class="container-fluid vh-100 bg-red">
    <div class="row h-100">
        <div class="col-auto p-0" style="width:100px;">

            <div class="container-fluid h-100 p-0 d-flex flex-column">
                <div class="row m-0" style="height:100px;">
                    <div class="col p-0">
                        <div class="container-fluid h-100 p-0 bg-gray">
                            12456
                        </div>
                    </div>
                </div>
                <div class="row m-0 flex-fill">
                    <div class="col p-0">
                        <div class="container-fluid h-100 p-0 bg-blue">
                            12456
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col p-0">
            <div class="container-fluid h-100 p-0 bg-purple">
                12456
            </div>
        </div>
    </div>
</div>

<!-- layout 3-4 -->
<div>layout 3-4</div>
<div class="container-fluid vh-100 d-flex flex-column bg-red">
    <div class="row m-0" style="height:100px;">
        <div class="col p-0">

            <div class="container-fluid h-100 p-0">
                <div class="row h-100">
                    <div class="col-auto p-0" style="width:100px;">
                        <div class="container-fluid h-100 p-0 bg-gray">
                            12456
                        </div>
                    </div>
                    <div class="col p-0">
                        <div class="container-fluid h-100 p-0 bg-blue">
                            12456
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row flex-fill">
        <div class="col p-0">
            <div class="container-fluid h-100 p-0 bg-purple">
                12456
            </div>
        </div>
    </div>
</div>