@using MyLab.Todos

@page "/InteropExample"
@code {

    // Fields
    [Inject]
    public TodoContext _todoContext { get; set; }


    // Methods
    private object CreatePageData()
    {
        // Add
        _todoContext.TodoRepository.Add(new Todo()
        {
            TodoId = MDP.Domain.Identifier.NewId(),
            Title = "Hello World",
            IsCompleted = true,
        });

        // FindAll
        var todoList = _todoContext.TodoRepository.FindAll();
        if (todoList == null) throw new InvalidOperationException($"{nameof(todoList)}=null");

        return todoList.FirstOrDefault();
    }
}


<PageScript PageData="@this.CreatePageData()">
    <script>

        // blazorPageLoaded
        document.addEventListener("BlazorPageLoaded", function (event) {

            // variables
            const pageData = event.detail.pageData;

            // runScriptButton
            document.getElementById("runDotNetButton").addEventListener("click", function (event) {

                // invokeMethod
                mdp.blazor.interopInvoker.invokeMethodAsync(
                    pageData.Title
                ).then(result => {
                    alert(result);
                }).catch(error => {
                    alert("Error calling .NET method: " + error);
                });
            });

            // message
            document.getElementById("message").innerHTML += "BlazorPageLoaded";
        }, { once: true });
    </script>
</PageScript>

<h3>InteropExample</h3>
<button class="btn btn-primary" id="runDotNetButton">Run .NET</button>
<br />
<br />
<br />
<p id="message"></p>