@using MyLab.Todos

@page "/ScriptExample"
@code {

    // Fields
    [Inject]
    public TodoContext _todoContext { get; set; }


    // Methods
    private object CreatePageData()
    {
        // Add
        _todoContext.TodoRepository.Add(new Todo()
        {
            TodoId = MDP.Domain.Identifier.NewId(),
            Title = "Hello World",
            IsCompleted = true,
        });

        // FindAll
        var todoList = _todoContext.TodoRepository.FindAll();
        if (todoList == null) throw new InvalidOperationException($"{nameof(todoList)}=null");

        // Return
        return todoList.FirstOrDefault();
    }
}


<PageScript PageData="@this.CreatePageData()">
    <script>

        // blazorPageLoaded
        document.addEventListener("BlazorPageLoaded", function (event) {

            // variables
            const pageData = event.detail.pageData;

            // runScriptButton
            document.getElementById("runScriptButton").addEventListener("click", function (event) {

                // alert
                alert(pageData.Title);
            });

            // message
            document.getElementById("message").innerHTML += "BlazorPageLoaded";
        }, { once: true });
    </script>
</PageScript>

<h3 id="cccc">ScriptExample</h3>
<button class="btn btn-primary" id="runScriptButton">Run Script</button>
<br />
<br />
<br />
<p id="message"></p>